<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>    
    <header>
        <% include ../partials/header %>
    </header>
    <h1>New Search</h1>
    <!--Upon Submitting the form, make a request with the post method to /search-->
    <form method="post" action="/search" enctype="multipart/form-data" id="newSearchForm">
        <label>Keyword</label>
        <br>
        <input type ="text" name="searchKeyword">
        <br>
        <label>Location</label>
        <br>
        <select name="searchLocation">
                <option value="Default">Default</option>
                <option value="Auckland">Auckland</option>
                <option value="Wellington">Wellington</option>
                <option value="Christchurch">Christchurch</option>
                <option value="Test">Test</option>
              </select>
        <br>
        <label>Catergory</label>
        <br>
        <select name="searchCategory">
                <option value="Default">Default</option>
                <option value="Landscaping">Landscaping</option>
                <option value="Construction">Construction</option>
                <option value="Automotive">Automotive</option>
                <option value="Test">Test</option>
              </select>        
        <br>
        <input type="submit" value="Submit">
    </form>
    <footer class="footer">
        <% include ../partials/footer %>
</footer>
</body>
</html>