<!-- views/partials/header.ejs -->
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Confine navigation contents to the global container -->
    <div class="container">
        <!-- Nav Bar Branding -->
        <a class="navbar-brand active" href="/">Kiwi Trader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search Fields -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" method="post" action="/search" enctype="multipart/form-data" id="newSearchForm">
                        <input class="form-control mr-sm-2" name="searchKeyword" type="search" placeholder="Keywords" aria-label="searchKeyword">
                        <div class="dropdown mr-sm-2">
                            <select class="form-control" name="searchCategory">
                                <option value="Default">Category</option>
                                <option value="Landscaping">Landscaping</option>
                                <option value="Construction">Construction</option>
                                <option value="Automotive">Automotive</option>
                            </select>
                        </div>
                        <div class="dropdown mr-sm-2">
                            <select class="form-control" name="searchLocation">
                                <option value="Default">Location</option>
                                <option value="Auckland">Auckland</option>
                                <option value="Wellington">Wellington</option>
                                <option value="Christchurch">Christchurch</option>
                            </select>
                        </div>
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
                    </form>
                </li>
            </ul>
            <!-- My Account Dropdown Menu -->
            <ul class="navbar-nav">
                <%if (session === null){%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/login">Log In</a>
                        <a class="dropdown-item" href="/register">Register</a>
                    </div>
                </li>
                <%} else {%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <%= session.Name %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/new_listing">New Service</a>
                        <a class="dropdown-item" href="/saved">Saved</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/<%= session.Account_ID %>">Profile</a>
                        <a class="dropdown-item" href="/account/<%= session.Account_ID %>">Account</a>
                        <div class="dropdown-divider"></div>
                        <form action="/logout" method="post">
                            <input class="dropdown-item" type="submit" value="Logout">
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>