<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
            <% include ../partials/header %>
    </header>
    <main class="container text-center">
        <h1 class="display-1">Welcome to Kiwi Trader!</h1>
    </main>
    <footer class="footer">
        <% include ../partials/footer %>
    </footer>
</body>
</html>