<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class = "login-menu">
        <form id = "login_form" method = "POST">
            Email:<br>
            <input id = "email_input" type = "text" name = "loginEmail"><br>
            Password:<br>
            <input id = "password_input" type = "password" name = "loginPass"<br>
            <input type = "submit" value = "Login">
        </form>


        <form method = "GET" action = "/register">
            <input type = "submit" value = "Register">
        </form>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
</body>
</html>