<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header> <% include ../partials/header %> </header>
    <dl>
        <dt><strong>Name</strong></dt>
        <dd>
            <%= name %>
        </dd>
        <dt><strong>Email</strong></dt>
        <dd>
            <%= email %>
        </dd>
        <dt><strong>Password</strong></dt>
        <dd>
            <%= password %>
        </dd>
      
        <form method="GET" action="/account/<%= id %>/edit">
            <input type="submit" value="Edit" />
        </form>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </dl>
</body>