<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header> 
        <% include ../partials/header %>
    </header>
    <div class = "container d-flex justify-content-center">
        <form method = "POST" action = "/change_password/<%= id %>" class = "form-group" enctype="multipart/form-data" id = "registerForm">
            <div class = "col-lg-6">
            
                <div class = "row">
                    <div class = "input-group-prepared">
                        <span class = "input-group-text">Current Password</span>
                    </div>
                    <input type = "password" name = "oldPassword" class = "form-control" placeholder = "Current Password" aria-label = "Current Password">
                </div>

                <div class = "row">

                        <span class = "input-group-text">New Password</span>

                    <input type = "password" name = "newPassword" class = "form-control" placeholder= "New Password" aria-label = "New Password">
                </div>

                <div class = "row">
                    <div class = "input-group-prepared">
                        <span class = "input-group-text">Repeat Password</span>
                    </div>
                    <input type = "password" name = "repeatPassword" class = "form-control" placeholder = "Repeat Password" aria-label = "Repeat Password">
                </div>

                <button class = "btn btn-primary btn-outline-dark" type = "submit">Submit</button>
    </form>
        <a class = "btn btn-primary btn-outline-dark" href = "/account/<%= id %>/edit">Cancel</a>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>