<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <script src="../public/js/main.js"></script>
</head>
<body>
    <h1>Change Password</h1>
    <form method = "POST" action = "/change_password/<%= id %>" enctype="multipart/form-data" id = "registerForm">
        <label>Current Password</label>
        <br>
        <input type = "password" name = "oldPassword">
        <br>
        <label>New Password</label>
        <br>
        <input type = "password"  name = "newPassword">
        <br>
        <label>Repeat Password</label>
        <br>
        <input type = "password" name = "repeatPassword">
        <br>
        <input type = "submit" value = "Submit">
    </form> 

    <form method = "GET" action = "/account/<%= id %>" enctype="multipart/form-data">
        <input type = "submit" value = "Cancel">
    </form>
</body>