<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header >
    <div class="container mt-5">
        <div class="row justify-content-center">
        <form method="POST" action="/change_password/<%= id %>" enctype="multipart/form-data" class = "col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend col-sm-4">
                    <span class="input-group-text">Current Password</span>
                </div>
                <input type="password" name="oldPassword" class="form-control col-sm-8" placeholder="Enter current password">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepared col-sm-4">
                    <span class="input-group-text" id="basic-addon2">New Password</span>
                </div>
                <input type="password" name="newPassword" class="form-control col-sm-8" placeholder="Enter new password">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepared col-sm-4">
                    <span class="input-group-text" id="basic-addon2">Repeat Password</span>
                </div>
                <input type="password" name="repeatPassword" class="form-control col-sm-8" placeholder="Repeat new password">
            </div>


            <div class="text-center"><button class="btn btn-primary btn-dark" type="submit">Submit</button>
            
            <a class="btn btn-primary btn-outline-dark" href="/account/<%= id %>/edit">Cancel</a></div>
        </form>
    </div>
</div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>