<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card mt-5">
                <div class="card-header">
                    Edit my account
                </div>
                <div class="card-body">
                    <form method="POST" action="/account/<%= id %>/edit">
                        <div class="form-inline">
                            <label class="font-weight-bold col-sm-4" for="editAccountName">Name: </label>
                            <input class="form-control col-sm-8" type="text" name="accountName" id="editAccountName">
                        </div>

                        <div class="form-inline mt-1">
                            <label class="font-weight-bold col-sm-4" for="editAccountEmail">Email: </label>
                            <input class="form-control col-sm-8" type="email" name="accountEmail" id="editAccountEmail">
                        </div>

                        <div class="form-inline mt-2 mb-1">
                            <label class="col-sm-4 font-weight-bold" for="editAccountPassword">Password: </label>
                            <a href="/change_password/<%= id %>" class="col-sm-8">Change Password</a>
                        </div>

                        <div class="row justify-content-center mt-2">
                            <button type="submit" class="mr-1 btn btn-primary btn-dark">Submit</button>
                            <a href="/account/<%= id %>" class="btn btn-primary btn-outline-dark ">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>