<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <script src="../public/js/main.js"></script>
</head>
<body>
    <h1>Welcome to <%= siteName %></h1>
    <br>
    <h2>Search for a Service!</h2>
    <form method="get" action="/search" enctype="multipart/form-data" id="indexToSearch">
        <input type="submit" value="Go!">
    </form>
    <% if (isLogin === false) { %>
        <form method = "GET" action = "/login" enctype = "multipart/form-data" id = "indexToLogin">
            <input type = "submit" value = "Login">
        </form>
        <form method = "GET" action = "/register" enctype= "multipart/form-data" id = "indexToRegister">
            <input type = "submit" value = "Register">
        </form>
    <%} else {%>
        <form method = "POST" action = "/logout" enctype = "multipart/form-data" id = "logout">
            <input type = "submit" value = "Logout">
        </form>
    <%}%>
</body>
</html>