<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <h1>New Listing</h1>
    <form id="new-listing-form">
        <strong>Title</strong>
        <br>
        <input type="text" name="titleField" id="form-title">
        <br>
        <strong>Description</strong>
        <br>
        <input type="textarea" width="200" height="100" name="descriptionField" id="form-desc">
        <br>
        <strong>Images</strong>
        <br>
        <input type="file" name="imagesField" id="form-img" multiple>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>