<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="/app/public/js/login.js"></script>
</head>
<body>
    <div class = "login-menu">
        <form id = "login_form" method = "POST">
            Email:<br>
            <input id = "email_input" type = "text" name = "loginEmail"><br>
            Password:<br>
            <input id = "password_input" type = "password" name = "loginPass"<br>
            <input type = "submit" value = "Login">
        </form>


        <form method = "GET" action = "/register">
            <input type = "submit" value = "Register">
        </form>

    </div>
</body>
</html>