<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <script src="../public/js/main.js"></script>
</head>
<body>
    <h1>Register</h1>
    <form method = "POST" action = "/register" enctype="multipart/form-data" id = "registerForm">
        <label>Email</label>
        <br>
        <input type = "text" name = "registerEmail">
        <br>
        <label>Name</label>
        <br>
        <input type = "text"  name = "registerName">
        <br>
        <label>Password</label>
        <br>
        <input type = "text" name = "registerPassword">
        <br>

    </form> 
</body>