<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <script src="../public/js/main.js"></script>
</head>

<body>
    <h1><%= title %></h1>
    <p>
        <dl>
            <dt><strong>Location</strong></dt>
            <dd>
                <%= location %>
            </dd>
            <dt><strong>Catergory</strong></dt>
            <dd>
                <%= catergory %>
            </dd>
        </dl>
    </p>
    <h2>Description</h2>
    <p>
        <%= description %>
    </p>
    <h2>Images</h2>
</body>

</html>